.cart_head{
    font-size: 65px;
    font-weight: 600;
    text-align: center;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart_items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtotal{
    font-size:40px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.empty_cart_head{
    font-size:40px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: red;
}

.empty_cart{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.checkout{
    display: flex;
    align-items: center;
    flex-direction: column;
}